@{
    ViewBag.Title = "Подтверждение регистрации";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        На вашу почту отправлено письмо. Пожалуйста, перейдите по ссылке в письме для подтверждения регистрации.
    </p>
    <p>Если письмо не придет, @Html.ActionLink(" попробуйте снова", "ResendConfirmation", new { email = ViewBag.Email })</p>
</div>
