@{
    ViewBag.Title = "Подтверждение регистрации";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        На вашу почту отправлено письмо. Пожалуйста, перейдите по ссылке в письме для подтверждения регистрации.
    </p>
</div>
