
@{
    ViewBag.Title = "Админ панель";
}
<h3>Админ панель</h3>
<p>@Html.ActionLink("Управления пользователями", "Users")</p>
<p>@Html.ActionLink("Управления объявлениями", "Deals")</p>
<p>@Html.ActionLink("Статистика(не доступно)", "Stats")</p>


