@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>Swappy™</h1>
    <p class="lead">Уникальная площадка для бесплатного обмена вещами на территории всей России.</p>
    <p>Меняем вещи. Меняем мир!</p>
    <p><a href="@Url.Action("Index","Deals")" class="btn btn-primary btn-lg">Найти и обменять &raquo;</a></p>
</div>